/* ===== カート ===== */
.cartSection {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 80px 120px;
	display: flex;
	flex-direction: column;
	gap: 80px;
	align-items: center;
}

.cartSummary {
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #ffd233;
	padding-top: 40px;
	padding-bottom: 40px;

	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}

.cartSummaryText {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: #7f5539;
	line-height: 1.0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.totalPurchase {
	color: #bf0000;
}

.cartItem {
	display: flex;
	gap: 40px;
	align-items: start;
	padding: 0;
}

.cartImageContainer {
	width: 335px;
	height: 335px;
	overflow: hidden;
}
.cartImageContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cartItemDetail {
	display: flex;
	flex-direction: column;
	width: 665px;
	height: 316px;
	border-bottom: 1px solid #e6ccb2;
	padding-bottom: 20px;
}

.cartItemTitle {
	display: block;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #e6ccb2;
	padding-top: 4px;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.0;
}

.priceNQty {
	width: 100%;
	height: fit-content;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.itemPrice {
	font-size: 1.5rem;
	color: #bf0000;
}

.qtyText {
	font-size: 1.5rem;
	color: black;
	line-height: 1.0;
	text-align: right;
	display: inline-block;
	vertical-align: baseline;
}

.qtyInput {
	font-size: 1.5rem;
	padding-right: 16px;
	width: 80px;
	height: 52px;
	color: black;
	margin-left: 12px;
	margin-right: 8px;
	line-height: 1.0;
	border: 1px solid #7F5539;
	display: inline-block;
	vertical-align: baseline;
}

.itemUpdateBtn {
	display: block;
	margin-top: 24px;
	margin-left: auto;
	margin-right: 0;
	width: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 1.25rem;
	font-weight: 600;
	color: white;
	background-color: black;
	line-height: 1.0;
	text-align: center;
}

/* 無効状態の見た目 */
.itemUpdateBtn:disabled {
  opacity: 0.5;
  cursor: auto;
  background-color: #ccc;
  color: #666;
}

.deleteItemContainer {
	margin-top: auto;
}

.deleteItemBtn {
	display: block;
	margin-left: auto;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.0;
	text-decoration-line: underline;
	text-decoration-thickness: 0.5px;
	text-decoration-style: solid;
	text-decoration-color: black;
	/* 文字からの距離 */
	text-underline-offset: 2px;
}

/* 買い物を続けるボタン */
.continueShoppingBtn {
	width: 260px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.25rem;
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #7f5539;
}

/* 購入確認へ進むボタン */
.purchaseConfirmationBtn {
	width: 260px;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #bf0000;
}

@media (max-width: 768px) {
	.cartSection {
		max-width: 100%;
		margin: 0;
		padding: 20px 20px 80px;
		gap: 40px;
		/* ⇒最初だけ20px */
	}

	.cartSummary {
		width: 100%;
		margin: 0;
		border: 2px solid #ffd233;
		padding-top: 20px;
		padding-bottom: 20px;

		gap: 20px;
	}

	.cartSummaryText {
		text-align: center;
		font-size: 1.0rem;
	}

	.cartItem {
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}

	.cartItemDetail {
		width: 100%;
		height: auto;
		padding: 0;
		border: none;
	}

	.cartItemTitle {
		display: block;
		width: 100%;
		height: auto;
		padding-top: 4px;
		font-size: 1.0rem;
		border: none;
	}

	.priceNQty {
		width: 100%;
		margin-top: 20px;
		flex-direction: column;
		gap: 13px;
	}

	.itemPrice {
		font-size: 1.5rem;
		color: #bf0000;
		text-align: center;
	}

	.qtyText {
		font-size: 1.5rem;
		color: black;
		line-height: 1.0;
		text-align: center;
		display: inline-block;
		vertical-align: baseline;
	}

	.qtyInput {
		font-size: 1.5rem;
		padding-right: 16px;
		width: 80px;
		height: 52px;
		color: black;
		margin-left: 12px;
		margin-right: 8px;
		line-height: 1.0;
		border: 1px solid #7F5539;
		display: inline-block;
		vertical-align: baseline;
	}

	.itemUpdateBtn {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 140px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 0.75rem;
		font-weight: 400;
	}

	.deleteItemContainer {
		margin-top: auto;
	}

	.deleteItemBtn {
		display: block;
		margin-left: auto;
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 1.0;
		text-decoration-line: underline;
		text-decoration-thickness: 0.5px;
		text-decoration-style: solid;
		text-decoration-color: black;
		/* 文字からの距離 */
		text-underline-offset: 2px;
	}

	/* 買い物を続けるボタン */
	.continueShoppingBtn {
		width: 260px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 1.25rem;
		color: white;
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: #7f5539;
	}

	/* 購入確認へ進むボタン */
	.purchaseConfirmationBtn {
		width: 160px;
		font-size: 0.75rem;
		font-weight: 600;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}