/* ------------------------------
  index.htmlのスタイル
---------------------------------*/
/* Main */
.siteMain {
	min-height: 50vh;
}

/* Hero */
.hero {
	overflow: hidden;
}

.hero img {
	width: 100%;
	height: 593px;
	display: block;
	object-fit: cover;
	object-position: center center;
}

/* Features */
.featureBlocks {
	display: flex;
	flex-direction: column;
	gap: 80px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.lifeWithDonuts,
.featureItem {
	position: relative;
	overflow: hidden;
}

.featureRow {
	display: grid;
	grid-template-columns: 480px 480px;
	justify-content: center;
	gap: 80px;
}

.featureItem img {
	width: 480px;
	height: 480px;
	object-fit: cover;
	display: block;
}

.lifeWithDonuts img {
	width: 480px;
	height: 480px;
	object-fit: cover;
	object-position: top;
	display: block;
}

.newItemCaption {
	font-size: 2.25rem;
	font-weight: 600;
	position: absolute;
	right: 12px;
	bottom: 12px;
	color: white;
}

.lifeWithDonutsCaption {
	font-size: 2.25rem;
	font-weight: 600;
	position: absolute;
	bottom: 40px;
	color: white;
	left: 50%;
	/* 親の幅の中央 */
	transform: translateX(-50%);
	/* 自分の幅の半分だけ左に戻す（左右中央に） */
	width: fit-content;
	/* ← 内容の幅に合わせる */
	white-space: nowrap;
	/* ← 改行を禁止する */
}

.link2Products {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.link2Products img {
	width: 1040px;
	height: 257px;
	object-fit: cover;
}

.link2ProductsCaption {
	position: absolute;
	right: 24px;
	bottom: 24px;
	font-family: "Noto Serif JP", serif;
	font-size: 2.25rem;
	font-weight: 500;
	color: #7f5539;
}

.featureBadge {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 140px;
	height: 140px;
	background: #ff6b6b;
	color: #fff;
	border-radius: 50%;
	font-size: 2.25rem;
	font-weight: 500;
	text-align: center;
	line-height: 140px;
}

/* Philosophy */
.philosophyBlock {
	position: relative;
	padding-top: 200px;
	color: #fff;
	text-align: center;
	height: 664px;
	width: 100%;
	background-color: rgba(128, 128, 128, 1);
}

.philosophyBlock::before {
	/* ⇒beforeはphilosophyBlockの子要素 */
	content: "";
	position: absolute;
	inset: 0;
	background: url("../images/philosophy.jpg") center/cover no-repeat;
	opacity: .5;
	z-index: 0;
}

.philosophyCopy {
	/* ⇒philosophyBlock::beforeと並列の子要素。beforeより前面に描画 */
	position: relative;
	z-index: 100;
}

.philosophyTitle {
	font-size: 2.25rem;
	font-weight: 800;
	margin: 0;
}

.philosophySub {
	margin-top: 20px;
	font-size: 1.25rem;
	font-weight: 500;
}

.philosophyCopy .en {
	display: block;
	font-size: 1.5rem;
	margin-top: 40px;
}

.philosophyCopy .ja {
	display: block;
	font-size: 1.5rem;
	margin-top: 20px;
}

/* Ranking */
.rankingSection {
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	padding-bottom: 120px;
	width: fit-content;
}

.rankBadge {
	display: block;
	width: 60px;
	height: 60px;
	color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 60px;
	text-align: center;
}

/* 背景色を順位ごとに */
.cardGrid .cardItem:nth-child(1) .rankBadge {
	background: #ffd233;
}

.cardGrid .cardItem:nth-child(2) .rankBadge {
	background: #cccccc;
}

.cardGrid .cardItem:nth-child(3) .rankBadge {
	background: #d27c2c;
}

.cardGrid .cardItem:nth-child(4) .rankBadge {
	background: #E8C2CA;
}

.cardGrid .cardItem:nth-child(5) .rankBadge {
	background: #E8C2CA;
}

.cardGrid .cardItem:nth-child(6) .rankBadge {
	background: #E8C2CA;
}

/* Responsive */
@media (max-width: 768px) {
	.hero img {
		height: 200px;
	}

	/* Features */
	.featureBlocks {
		gap: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.featureRow {
		grid-template-columns: 157px 157px;
		gap: 20px;
	}

	.featureItem img {
		width: 157px;
		height: 157px;
	}

	.lifeWithDonuts img {
		width: 157px;
		height: 157px;
	}

	.newItemCaption {
		font-size: 0.75rem;
		right: 4px;
		bottom: 4px;
	}

	.lifeWithDonutsCaption {
		font-size: 0.75rem;
		bottom: 16px;
	}

	.link2Products img {
		width: 335px;
		height: 83px;
	}

	.link2ProductsCaption {
		right: 4px;
		bottom: 4px;
		font-size: 0.75rem;
	}

	.featureBadge {
		top: 4px;
		left: 4px;
		width: 40px;
		height: 40px;
		font-size: 0.75rem;
		line-height: 40px;
	}

	/* Philosophy */
	.philosophyBlock {
		padding-top: 100px;
		height: 568px;

	}

	.philosophyBlock::before {
		/* ⇒beforeはphilosophyBlockの子要素 */
		background-image: url("../images/philosophy.jpg");
		background-repeat: no-repeat;
		background-size: 315%;
		/* 元画像の50%で表示 */
		background-position: top center;
		/* 画像の上端を領域の上端に合わせる */
	}

	.philosophyTitle {
		font-size: 1.5rem;
	}

	.philosophySub {
		margin-top: 20px;
		font-size: 1rem;
	}

	.philosophyCopy .en {
		font-size: 1.25rem;
		margin-top: 60px;
	}

	.philosophyCopy .ja {
		font-size: 1rem;
		margin-top: 12px;
	}

	/* Ranking */
	.rankingSection {
		width: 100%;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 82px;
	}

	.rankBadge {
		width: 35px;
		height: 35px;
		font-size: 1.0rem;
		line-height: 35px;
	}
}