/* ===== ログイン関連共通 ===== */
.loginTitleContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 375px;
	height: 84px;
	margin-left: auto;
	margin-right: auto;
}

.loginContents {
	max-width: 375px;
	padding: 40px 40px 80px 40px;
	margin-left: auto;
	margin-right: auto;
}

/* ログイン画面のピンクの枠 */
.loginBox {
	border: 2px solid #f7d1cd;
	padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 登録画面の枠線のない枠 */
.registerBox {
	padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* フォーム1つのスタイル */
.formRow {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.formRow label {
	font-size: 0.75rem;
	color: #7f5539;
}

/* 必須ラベル用 */
.formRow label.require::after {
  content: "（必須）";
  color: red;
}

.formRow input[type="text"],
.formRow input[type="email"],
.formRow input[type="password"] {
	border: 1px solid #7f5539;
	padding: 4px;
	font-size: 0.75rem;
}

.postcodePair {
	display: flex;
	gap: 4px;
}

#postcodeHead {
	width: 60px;
}

#postcodeTail {
	width: 100px;
}

.loginBox p {
    text-align: center;
}

.formRow .note {
	font-size: .5rem;
	color: red;
}

/* submitボタン */
.primaryBtn {
	padding: 16px 32px;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 160px;
	height: 48px;
	background-color: #7f5539;
	color: white;
	font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* 他ページへのリンク */
.loginToAnotherLink {
	margin-top: 20px;
	text-align: right;
	display: block;
}

/* 2つ並ぶときはその間隔を8pxにする */
.loginToAnotherLink + .loginToAnotherLink {
    margin-top: 8px;
}

.errorMessage {
    color: red;
    margin-bottom: 20px;
}