/* ===== 商品一覧 ===== */
.productsSection {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.productsSubSection {
	max-width: 1200px;
	padding: 80px 60px 120px;
}

.productsSubTitle {
	font-size: 1.5rem;
	color: #7f5539;
	text-align: center;
}

.cardGrid {
	display: grid;
	gap: 60px;
	padding-top: 120px;
	grid-template-columns: repeat(3, 320px);
}

.cardItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.cardItem img {
	width: 320px;
	height: 320px;
	object-fit: cover;
	display: block;
}

.cardTitle {
	font-size: 1.5rem;
	color: #7f5539;
	text-align: justify;
}

.cardPrice {
	color: #bf0000;
}

.cartButton {
	background: #7f5539;
	width: 260px;
	height: 52px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	line-height: 52px;
}

/* Responsive */
@media (max-width: 768px) {
	.productsSection {
		margin: 0;
	}

	.productsSubSection {
		max-width: 100%;
		padding: 20px 0 80px;
	}

	.productsSubTitle {
		font-size: 1.0rem;
	}

	.cardGrid {
		gap: 20px;
		padding: 80px 20px 0;
		grid-template-columns: repeat(2, 157.5px);
	}

	.cardItem img {
		width: 157px;
		height: 157px;
	}

	.cardTitle {
		font-size: 1rem;
	}

	.cartButton {
		width: 148px;
		height: 36px;
		line-height: 36px;
		font-size: 0.75rem;
	}
}